<h1 class="container">Follow User</h1>
<% if @users.any? %>
<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    
    <% @users.each do |user| %>
    
    <tr>
      <td><%= link_to user_path(user) do %>
        <%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %>
        <% end %>
      </td>
      <td><%= user.name %></td>
      <td>フォロー数：<%= user.follows.count %></td>
      <td>フォロワー数：<%= user.followers.count %></td>
      <td><%= link_to "show" ,user_path(user) %></td>
    </tr>  
    <% end %>
        
  </tbody>
</table>
<% else %>
  <span>ユーザーはいません</span>
<% end %>
