<table class='table'>
  <tr><%= attachment_image_tag(@user, :profile_image, :fill, 70, 70, fallback: "no-image-icon.jpg",size: "70x70") %></tr>
  <tr>
	  <th>name</th>
	  <th><%= @user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= @user.introduction %></th>
  </tr>
  <tr>
	  <th>follows</th>
	  <th><%= link_to @user.follows.count,follows_user_relationships_path(@user) %></th>
  </tr>
  <tr>
	  <th>followers</th>
	  <th><%= link_to @user.followers.count,followers_user_relationships_path(@user) %></th>
  </tr>
</table>

<% unless current_user == @user %>
  <% unless controller.controller_name == 'books' && controller.action_name == 'show' %>
     <% if current_user.following?(user) %>
        <%= link_to user_relationships_path(user),class:"btn btn-info mb-4" ,method: :delete do %>
        フォロー外す
        <% end %>
    <% else %>
        <%= link_to user_relationships_path(user),class:"btn btn-success mb-4",method: :post do %>
        フォローする
        <% end %>
    <% end %>
  <% end %>
<% end %>

<% unless request.path.include?("books/") %> <!-- URLにbooksが含まれていないときに表示 -->
  <% unless @user.id == current_user.id %>　<!-- 詳細ページがログインしたユーザーのページでないときに表示 -->
    <% if (current_user.following?@user) && (@user.following?current_user)  %>　<!-- ログインユーザーと詳細ページのユーザーがお互いにフォローしているとき表示 -->
    <% if @isRoom == true %>　<!-- （userコントローラで定義した）すでにroomがある場合-->
      <p class="user-show-room">
        <%= link_to "チャットへ", room_path(@roomId),class:"btn btn-primary btn-sm" %>
    <% else %>　<!-- まだroomが作られていない場合-->
      <%= form_with model: @room do |f| %> <!-- roomとentryに相手ユーザーのidを同時に送っている-->
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, value: @user.id %>
        <% end %>
        <%= f.submit "チャットを始める", class:"btn btn-primary btn-sm user-show-chat mb-4"%> <!-- ボタンを押したらroomモデルへデータが送られroomコントローラが動く-->
      <% end %>
    <% end %>
    <% end %>
  <% end %>
<% end %>
<div class='row'>
  <%= link_to '',edit_user_path(@user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{@user.id}" %>
</div>