<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
  <%= render 'searches/form' %>
      <h2>Books</h2>
      <%= render 'books/index',books: @books %>
    <div class = "table_width">
     <table class="table table-bordered">
      <thead>
       <tr>
        <th>今日の投稿数</th>
        <th>前日の投稿数</th>
        <th>前日比</th>
       </tr>
      </thead>
      <tbody>
       <tr>
       　<td><%= @user.books.where(created_at: @today).count %></td>
       　<td><%= @user.books.where(created_at: @yesterday).count %></td>
       　<td>
         <% if  @user.books.where(created_at: @yesterday).count == 0 %>
          前日の投稿はありません
         <% else %>
         　<% @the_day_before = @user.books.where(created_at: @today).count / @user.books.where(created_at: @yesterday).count.to_f  %>
         　<%= (@the_day_before * 100).round %>
         <% end %>
        </td>
       </tr>
      </tbody>
     </table>
    </div>

    <div class = "table_width">
     <table class="table table-bordered">
      <thead>
       <tr>
        <th>今週の投稿数</th>
        <th>先週の投稿数</th>
        <th>前週比</th>
       </tr>
      </thead>
      <tbody>
       <tr>
       　<td><%= @user.books.where(created_at: @week).count %></td>
       　<td><%= @user.books.where(created_at: @weekago).count %></td>
       　<td>
         <% if  @user.books.where(created_at: @weekago).count == 0 %>
          前日の投稿はありません
         <% else %>
         　<% @the_day_before =   @user.books.where(created_at: @week).count / @user.books.where(created_at: @weekago).count %>
           <%= @the_day_before.round %>
         <% end %>
        </td>
       </tr>
      </tbody>
     </table>
    </div>

     <div class = "table_width">
     <table class="table table-bordered">
      <h2>7日分の投稿数</h2>
      <thead>
       <tr>
        <th>6日前</th>
        <th>5日前</th>
        <th>4日前</th>
        <th>3日前</th>
        <th>2日前</th>
        <th>昨日</th>
        <th>今日</th>
       </tr>
      </thead>
      <tbody>
       <tr>
       　<td><%= @user.books.where(created_at: 6.day.ago.all_day).count %></td>
       　<td><%= @user.books.where(created_at: 5.day.ago.all_day).count %></td>
       　<td><%= @user.books.where(created_at: 4.day.ago.all_day).count %></td>
       　<td><%= @user.books.where(created_at: 3.day.ago.all_day).count %></td>
       　<td><%= @user.books.where(created_at: 2.day.ago.all_day).count %></td>
       　<td><%= @user.books.where(created_at: @yesterday).count %></td>
       　 <td><%= @user.books.where(created_at: @today).count %></td>
       </tr>
      </tbody>
     </table>
    </div>

<span class="graph-title">7日間の投稿数の比較</span>
<canvas id="myChart"></canvas>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: ["6日前","5日前","4日前", "3日前", "2日前", "昨日", "今日"],
    datasets: [{
      label: '投稿した本の数',
      backgroundColor: "rgba(0,0,80,0)",
      borderColor: "rgba(0,70,200,1)",
      data: [
       <%= @user.books.where(created_at: 6.day.ago.all_day).count %>,
       <%= @user.books.where(created_at: 5.day.ago.all_day).count %>,
       <%= @user.books.where(created_at: 4.day.ago.all_day).count %>,
       <%= @user.books.where(created_at: 3.day.ago.all_day).count %>,
       <%= @user.books.where(created_at: 2.day.ago.all_day).count %>,
       <%= @user.books.where(created_at: @yesterday).count %>,
       <%= @user.books.where(created_at: @today).count %>,
       ]
    }]
  }
});
</script>

<%= form_with url: user_search_path(@user), method: :get do |f| %>
  <%= f.date_field :created_at %>
  <%= f.submit '検索', class: 'btn btn-primary'  %>
<% end %>

<div id="search_result">
  <% if @search_book.present? %>
    <%= render 'search', search_book: @search_book %>
  <% end %>
</div>
  </div>

  </div>
</div>